body {
    margin: 0px;
    padding: 0px;
    font-family: 'Overpass', sans-serif;
}


/* header */

#logo {
    width: 50px;
    height: 30px;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(230, 236, 240);
    background-color: rgb(255, 255, 255);
}

#searchBar {
    background-color: rgb(230, 236, 240);
    display: flex;
    justify-content: center;
    border-radius: 9999px;
    height: 40px;
    width: 200px;
    margin-top: 10px;
    margin-left: 200px;
    border: none;
}

#search-icon {
    position: relative;
    width: 20px;
    height: 20px;
    top: -30px;
    left: 380px;
}

#search-span {
    position: relative;
    top: -30px;
    left: 460px;
    font-size: x-small;
    margin-left: -60px;
}

#cards {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-episode {
    margin: 20px;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(205, 228, 243);
    border-radius: 30px;
}

.card-episode img {
    border-radius: 30px;
}

.card-title {
    background-color: rgb(255, 255, 255);
    border-radius: 9999px;
    display: flex;
    height: 30px;
    justify-content: center;
    color: #595b83;
    align-items: center;
    margin-bottom: -20px;
}


/* select list */

.select-list {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

#select-list1,
#select-list2 {
    border: 1px solid rgb(255, 255, 255);
}


/* card-show  */

.card-show {
    margin: 2%;
    padding: 1%;
    height: fit-content;
    width: 60%;
    border-radius: 30px;
    /* background: rgb(230, 236, 240); */
    border: 1px solid rgb(205, 228, 243);
}

.card-show img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-right: 10px;
}

.card-container {
    display: flex;
}

.rating {
    border: 1px solid rgb(207, 214, 219);
    width: 400px;
    border-radius: 30px;
    padding: 1%;
    height: 200px;
    color: #707296;
}


/* button */

#back-btn {
    display: none;
}

#go-to {
    background-color: rgb(230, 236, 240);
    border: 1px solid rgb(230, 236, 240);
    border-radius: 9999px;
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    color: rgb(116, 111, 112);
}


/* footer */

footer {
    position: static;
    height: 30px;
    width: 100%;
    border-top: 1px solid rgb(230, 236, 240);
    position: static;
    bottom: 0px;
}